@import "normalize.css";
@import "base.css";
@import "theme.css";

body {
    background: var(--background-color);
}

#main {
    margin: .5rem;
    padding: 1rem;
    min-height: 70vh;
}

#footer {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 10vh;
}

.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr; /* only column intially */

    padding: 1rem 2rem;
}

.navbar-items-block {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
}

.navbar-left {
    justify-content: flex-start;
}

.navbar-center {

}

.navbar-right {
    justify-content: flex-end;
}

.icon-primary {
    color: var(--primary-icon);
}

.icon {
    color: var(--secondary-icon);
}

.round-padding {
    background: var(--background-color);
    padding: 15px;
    border-radius: 50%;
}

.icon-active {
    color: var(--primary-button-background);
}

.brand {
    width: 20%;
}

.search-bar {
    overflow: hidden;
}

.hidden {
    display: none;
}

.link {
    cursor: pointer;
    transition: 350ms;
}

.link:hover {
    filter: brightness(160%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- */
/*  Components    /
/* -------------- */
.divider {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.container-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1rem 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 1rem;
    padding: 2rem;
    width: 500px;
}

.form {
    display: grid;

}

.form-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.form-input, .form-input input {
    background: #FFFFFF repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 6px;
}

.form-input {
    margin: 1rem 0;
    display: block;
    width: 330px;
    padding: 14px 16px;
    transition: 250ms;
}

.form-input:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: var(--primary-color);
}


.form-input input {
    background: none;
    border: 0;
    box-shadow: none;
    float: left;
    font-size: 17px;
    padding: 0;
    width: 300px;
    margin: 0;
}

.form-button {
}

.form-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
}

.btn.small {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    width: unset;
}

.btn.primary {
    background-color: var(--primary-color);
    color: white;
}

.btn.ternary {
    background-color: var(--ternary-color);
    font-size: 17px;
    line-height: 48px;
    font-weight: 650;
    color: #fff;
}